<p *ngIf="!books"><em>Loading...</em></p>

<p-dataTable *ngIf="books" [value]="books" [paginator]="true" [rows]="10" [totalRecords]="totalRecords" (onLazyLoad)="loadContactsLazy($event)" [responsive]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
    <header>Books </header>
    <p-column field="id" header="Id" [sortable]="true"></p-column>
    <p-column field="title" header="Title" [sortable]="true"></p-column>
    <p-column field="author" header="Author" [sortable]="true"></p-column>
    <p-column field="isbn" header="ISBN" [sortable]="true"></p-column>
    <p-column field="yearPress" header="Year press" [sortable]="true"></p-column>
</p-dataTable>
